body{
    padding: 10% 25%;
    background-image: url(../img/Fondo7.jpg);
}

.fondo{
    background-image: url(../img/Fondo6.jpg);
    border: 2px solid #1B4FC1 ;
}

h1{
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p{
    text-align: center;
    color: white;
}

.form-group{
    padding: 0 10%;
    color: white;
}

#button{
    width: 40%;
    margin-left: 32%;
}

#Email{
    width: 65%;
    margin-left: 30%;
    margin-top: -6%;
}

#back{
    width: 10%;
}